html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor:default;
}

.row {
    *zoom: 1;
    margin-bottom: 10px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    background-color: #333 !important;
}

#canvas-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

    #canvas-wrap canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

.forgot-password {
    color: rgb(104, 145, 162);
}

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }

.mainArea {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    text-rendering: optimizeLegibility !important;
    -webkit-text-stroke: .025em rgba(51,51,51,0.50) !important;
    -webkit-font-smoothing: antialiased !important;
    background: url(/images/wallpaper3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur {
    opacity: 0.3;
}

/*

    Sidebar

*/
.sidebar{
    height:100%;
    width:40px;
    float:left;
    background-color:#444;
    text-align:center;
    z-index:13;
    position:relative;
}

.sidebar .step{
    height: 40px;
    padding: 5px;
    padding-top: 0px;
    cursor:pointer;
}

.sidebar .step:first-child{
    padding-top: 5px;
}

.sidebar .step:hover {
    background-color:#555;
}

.sidebar .step .sidebarlogo{
    width:100%;
}

.sidebar .active{
    background-color: #666;
}

.sidebar .step i{
    padding-top:8px;
    font-size: 25px;
}

/*

    speechanalyzer

*/

.speechanalyzer{
    position: fixed;
    width: 500px;
    height: 41px;
    bottom: 30px;
    left: 50%;
    margin-left: -250px; /* Negative half of width. */
    background-color:white;
    border-radius:6px;
    border:1px solid #666;
    color:black;
    padding:9px;
}

.speechanalyzer input{
    border:none;
    width:100%;
    color:red;
}

.speechanalyzer i{
    position: absolute;
    top: 9px;
    font-size: 25px;
    color: #6982EF;
    right: 10px;
}

.speechanalyzer .validSearch{
    color:green;
}

/*

    NgAnimate Animations

*/

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

/*

    desktopBoxes

*/

.desktopBoxes{
    float:left;
    height:100%;
    /* Firefox */
    width: -moz-calc(100% - 40px);
    /* WebKit */
    width: -webkit-calc(100% - 40px);
    /* Opera */
    width: -o-calc(100% - 40px);
    /* Standard */
    width: calc(100% - 40px);
}

.desktopfolder {
    min-width:48px;
    max-width:80px;
    resize: none;
    position:absolute;
    color:#F9D978;
    padding:4px;
    border-radius:6px;
    text-align:center;
}

.windowContent .desktopfolder p{
    color:black;
    text-align:center;
    text-shadow: none !important;
}

.windowContent .desktopfolder{
    position:initial;
}

.desktopfolder:hover {
    background-color:rgba(50, 230, 50, 0.1);
}

.desktopfolder.selected{
    background-color:rgba(50, 230, 50, 0.2);
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.desktopfolder.dragging {
    cursor:move;
}

.desktopfolder i{
    font-size:44px;
}

.desktopfolder p{
    color:white;
    text-align:center;
    text-shadow: 0px 0px 3px #333;
}

#deskTopElement{
    width:100%;
    height:100%;
    position:relative;
}

.selectorRect{
    background-color:rgba(50, 50, 180, 0.3);
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
    z-index:9999;
}

.context{
    position:absolute;
    background-color:white;
    min-width:150px;
    min-height:50px;
    z-index:200;
    color:#333;
    box-shadow:0px 0px 1px 0px #333;
}

.context .contextLine{
    padding-left:3px;
    padding-right:3px;
    font-size:15px;
    height:30px;
    padding:4px;
    cursor:default;
}

.context .contextLine:not(:first-child):hover{
    background-color:rgba(68, 68, 68, 0.3);
}

.context .contextLine:not(:first-child){
    cursor:pointer;
}

.context .contextLine:first-child{
    text-align:center;
    font-size:13px;
    height:25px;
}

.context .contextLine span{
    display:inline-block;
    width: 25px;
}


.context .contextLine img{
    height:20px;
    width:20px;
}

.context .contextLine:not(:last-child){
    border-bottom:1px solid #ccc;
}

.extensionWindow{
    background-color: white;
    position: absolute;
    min-width: 600px;
    min-height: 500px;
    color:#333;
    left:200px;
    top:50px;
    box-shadow:0px 0px 3px 0px #ccc;
}

.extensionWindow.maximized{
    height: calc(100% - 40px);
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    z-index: 5;
}

.extensionWindow .header{
    border-bottom: 1px solid #ccc;
    height: 25px;
}

.extensionWindow .header *{
    float: left;
    font-size: 13px;
    margin-top: 5px;
}

.extensionWindow .header .title{
    color:#333;
}

.extensionWindow .header i{
    margin-top: 4px;
    font-size: 18px;
    margin-right: 5px;
    margin-left:5px;
}

.extensionWindow .header img{
    margin-top: 4px;
    height: 16px;
    margin-right: 5px;
    margin-left:5px;
}

.extensionWindow .header .options{
    float: right;
    margin-top: 0px;
    height: 100%;
    color:#333;
}

.extensionWindow .header .options span{
    margin-top: 0px;
    padding: 2px;
    height: 100%;
}
.extensionWindow .header .options span:hover{
    background-color: #ccc;
}

.extensionWindow .header .options span:last-child:hover{
    background-color: red;
    color:white;
}

.extensionWindow .header .options span i{
    font-size:12px;
}

.extensionWindow .title{
    color:red;
}

.windowContent{
    padding: 5px;
    min-height: 475px;
    position: relative;
}

/*

    upperBar

*/

.upperBar{
    height:40px;
    float:left;
    background: -moz-linear-gradient(left,  rgba(68,68,68,1) 0%, rgba(68,68,68,0.49) 10%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(68,68,68,0.49) 10%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right,  rgba(68,68,68,1) 0%,rgba(68,68,68,0.49) 10%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=1 );
    text-align:center;
    display:block;
    z-index:12;
    position:relative;
    opacity:1;

    /* Firefox */
    width: -moz-calc(100% - 40px);
    /* WebKit */
    width: -webkit-calc(100% - 40px);
    /* Opera */
    width: -o-calc(100% - 40px);
    /* Standard */
    width: calc(100% - 40px);
}

.topBar .step{
    height: 40px;
    padding: 12px;
    cursor:pointer;
    float:left;
    min-width:40px;

}

.topBar .step:hover {
    background-color:#555;
}

.topBar .step .sidebarlogo{
    width:100%;
}

.topBar .active{
    background-color: #666;
}

.topBar .step i{
    font-size: 18px;
}

.topBar .time {
    float:right;
    margin-right:10px;
}

/*

    Editor

*/

.editor{
    background-color:white;
    float:left;
    height:100%;
    /* Firefox */
    width: -moz-calc(100% - 40px);
    /* WebKit */
    width: -webkit-calc(100% - 40px);
    /* Opera */
    width: -o-calc(100% - 40px);
    /* Standard */
    width: calc(100% - 40px);
    height:100%;
    color:#333;
}

.editorInner{
    padding:10px;
}

.CodeMirror {
  height: 100%;
}

.ei{
    /* Firefox */
    height: -moz-calc(100% - 40px);
    /* WebKit */
    height: -webkit-calc(100% - 40px);
    /* Opera */
    height: -o-calc(100% - 40px);
    /* Standard */
    height: calc(100% - 40px);
}
