<div id="overlay">
    <div ng-include="'views/login.html'" ng-controller="LoginCtrl" ng-if="!UserFactory.userLoggedIn()"></div>
    <div class="mainArea" ng-class="{'blur': !UserFactory.userLoggedIn()}">
        <div class="sidebar" ng-include="'views/sidebar.html'" ng-controller="SidebarCtrl"></div>
        <div class="upperBar" ng-include="'views/topbar.html'"></div>
        <div class="desktopBoxes" ng-if="UserFactory.userLoggedIn()" onselectstart="return false;" ng-include="'views/boxes.html'" ng-show="activeWindow == 'boxes'"></div>
        <div class="speechanalyzer" ng-include="'views/speechanalyzer.html'" ng-controller="SpeechanalyzerCtrl" ng-if="activeWindow == 'boxes'"></div>
        <div class="editor" ng-include="'views/editor.html'" ng-show="activeWindow == 'editor'"></div>
        <div style="height:100%;" ng-include="'views/account.html'" ng-if="activeWindow == 'account'"></div>
        <div style="height:100%;" ng-include="'views/library.html'" ng-if="activeWindow == 'library'"></div>
        <div style="height:100%;" ng-include="'views/system.html'" ng-if="activeWindow == 'system'"></div>
        <div style="height:100%;" ng-include="'views/settings.html'" ng-if="activeWindow == 'settings'"></div>
    </div>
</div>