<div id="overlay">
    <div ng-include="'views/login.html'" ng-controller="LoginCtrl" ng-if="!UserFactory.userLoggedIn()"></div>
    <div class="mainArea" ng-class="{'blur': !UserFactory.userLoggedIn()}">
        <div class="sidebar" ng-include="'views/sidebar.html'" ng-controller="SidebarCtrl"></div>
        <div ng-include="'views/boxes.html'" ng-controller="BoxesCtrl" ng-show="activeWindow == 'boxes'"></div>
        <div class="speechanalyzer" ng-include="'views/speechanalyzer.html'" ng-controller="SpeechanalyzerCtrl" ng-show="activeWindow == 'boxes'"></div>
    </div>
</div>